Code/hough
Code/hough_omp
Code/obj/
Ausarbeitung/bachelorarbeit.aux
Ausarbeitung/bachelorarbeit.bbl
Ausarbeitung/bachelorarbeit.blg
Ausarbeitung/bachelorarbeit.lof
Ausarbeitung/bachelorarbeit.log
Ausarbeitung/bachelorarbeit.lol
Ausarbeitung/bachelorarbeit.lot
Ausarbeitung/bachelorarbeit.out
Ausarbeitung/bachelorarbeit.pdf
Ausarbeitung/bachelorarbeit.synctex.gz
Ausarbeitung/bachelorarbeit.toc
Quellen/
img/
lab/
transfer.sh
zcu_img/
